body {
	background-color:rgb(230, 230, 230);
}

#website{
	width: 1000px;
	height: 900px;
	
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#header{
	width: 980px;
	height: 50px;
	margin: 5px;
	
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#status{
	width: 980px;
	height: 70px;
	margin: 5px;
	
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#currentTask{
	width: 980px;
	height: 650px;
	margin: 5px;
	
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#actualTask{
	float: left;
	background-color: rgb(210, 210, 210);
	
	width: 710px;
	height: 640px;
	margin: 5px;
}
#links{
	float: left;
	background-color: rgb(210, 210, 210);
	
	width: 250px;
	height: 640px;
	margin: 5px;
}

#help{
	clear:none;
	width: 980px;
	
	margin-left: auto;
	margin-right: auto;
}
#help #helpSwitchButton{
	font-size: 130%;
	background-color: rgb(210, 210, 210);
}
#help #helpWindow{
	margin-top: 30px;
	display: none;
}

#footer{
	width: 980px;
	height: 40px;
	margin: 5px;
	
	text-align: right;
	margin-left: auto;
	margin-right: auto;
}
#footer span{
	margin: 10px;
}

a:link {	color:#021453; text-decoration:none;}
a:visited {	color:#021453; text-decoration:none;}
a:focus {	color:#021453; text-decoration:none;}
a:hover {	color:#021453; text-decoration:none;}
a:active {	color:#021453; text-decoration:none;}